<% provide(:title, 'Contact') %>
<h1>Contact</h1>

<div class="jumbotron">
<h2 style="font-size:24px;">
  Should you have any questions or suggestions please contact us.
</h2>
<h2 style="font-size: 18px; text-decoration:underline;">
How to contact us:
</h2>
<ul style="margin-left: 60px; text-align:center;">
  <li> e-mail us at botswanafunding@googlemail.com </li>
  <li> Write in to the Botswana Fundraising group at St Nicholas High School, Cheshire.</li>
</ul>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9549.073542515063!2d-2.528465!3d53.24889!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc03be4e7c7bc4a3a!2sSt.+Nicholas+Catholic+High+School!5e0!3m2!1sen!2suk!4v1426708856952" width="60%" height="500px" frameborder="5px" style="border:0; text-align:center; float:right; margin-right:15%;" alt="Mapped Location" ></iframe>
</div>
