<% provide(:title, 'Donate') %>

<h2 style="font-size:28px; font-weight:bold;">
Please Donate!
</h2>

<div class="jumbotron">
<p style="text-align:center;">
We gladly welcome all of your donations, no matter how small. Any donations will be distributed among the expedition candidates and used to fund their expedition. 
</p>
<br>
<center>
<%= image_tag 'included.png', alt: "What's included in the cost" %>
</center>
<br>
<p style="margin-left: 50px;"> Donations will be put towards: </p>
<ul style="margin-left: 60px;">
  <li>Travel and accomodation. </li>
  <li>Food.  </li>
  <li>A training weekend necessary to take part in the expedition.  </li>
  <li>Equipment such as first aid kits.  </li>
  <li>Water purification kits. </li>
</ul>


<p style="margin-left: 50px;"> How to Donate: </p>
<ul style="margin-left: 60px;">
  <li> Donations can be sent to the school, along with an acompanying note, via the postal service in the form of a cheque. </li>
  <li> You can sponsor candidates as they take part in activities. To find out how to do this please log in and view the information for each event. </li>
  <li> Should you know one or more of the candidates feel free to ask them for more details.</li>
  <li> Should you have any questions please <%= link_to"contact us.", contact_path %></li>
</ul>
</div>
