<% provide(:title, "Help") %>

<h1>Where To Start?</h1>
<h2>
-If you wish to create an account visit the login page and click "sign up now"<br><br>
-I want to <%= link_to "DONATE", donate_path %>
<br><br>
-To Contact us click <%= link_to "here", contact_path %>
<br><br>
-I am already going or want to keep up to date and am wondering how to view the news.<br>
Then please create an account and visit the news page.


</h2>
