<% provide(:title, @fundraiser.title) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h2>
<%= @fundraiser.title %>
      </h2>

<%= simple_format(@fundraiser.content) %>


<%= link_to "Show all", fundraisers_path %>
    </section>
  </aside>
</div>
