<center><%= link_to gravatar_for(current_user, size: 10), current_user %></center>
<h2 style="font-size:28px;"> Welcome <%= current_user.name %></h2>
<% if current_user.teacher? %>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "post") %></span>
<% end %>
